Options -Indexes
RewriteEngine On

# Если зашли на localhost/news.kg/, редиректим в public/
RewriteRule ^$ public/ [L]

# Если файл или папка не существует, направляем запрос в public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]
