<nav class="bg-white shadow-lg">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <!-- Логотип -->
            <div class="flex items-center">
                <a href="/news.kg" class="flex-shrink-0 flex items-center">
                    <img class="h-10 w-auto" src="/news.kg/assets/images/logo.webp" alt="Logo">
                    <span class="ml-2 text-xl font-semibold text-gray-900 ">
                        News<span class="text-4xl text-red-600 leading-0">.</span>kg
                    </span>
                </a>
            </div>

            <div class="flex items-center space-x-4">
                <a href="/news.kg/login"
                   class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium transition-colors">
                    Войти
                </a>
                <a href="/news.kg/register"
                   class="bg-red-600 text-white hover:bg-red-700 px-3 py-2 rounded-md text-sm font-medium transition-colors">
                    Регистрация
                </a>
            </div>
        </div>
    </div>
</nav>
