<nav class="bg-white shadow-lg">
    <div class="container mx-auto px-2">
        <div class="flex justify-between h-16">
            <!-- Логотип -->
            <div class="flex items-center">
                <a href="/" class="flex-shrink-0 flex items-center">
                    <img class="h-10 w-auto" src="/assets/images/logo.webp" alt="Logo">
                    <span class="ml-2 text-xl font-semibold text-gray-900 ">
                        News<span class="text-4xl text-red-600 leading-0">.</span>kg
                    </span>
                </a>
            </div>

            <div class="flex items-center space-x-4">
                <a href="/login"
                    class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium transition-colors">
                    Войти
                </a>
                <a href="/register" class="btn">
                    Регистрация
                </a>
            </div>
        </div>
    </div>
</nav>
